.form-custom {
    height: 40px
}

.green {
    color: green;
}

.static {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
}

.static-box {
    float: left;
    width: auto;
    margin-top: 0px;
}

.responseBox {
    margin-top: 5px;
}